
<div class="row" >
       
    <div class="col-lg-4 text-center">
            <img width="400px" height="300px" src="" alt="">
        </div>


    <div class="col-lg-8  bg-gray">
       <h1>
          Name : Product Name
       </h1>
       <hr>
       <h3>
         Category : Product Category
       </h3>
       <hr>
       <span>
         Price :  products priceRs.
       </span>
       <hr>
       <p>
        Description : products description
       </p>
       <h4>
           Select Qty:
       </h4>
       <span>
           <select name="" id="" #ingre_qty>
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="4">4</option>
               <option value="5">5</option>
           </select>
       </span>
       <hr>
       <button class="btn btn-warning text-light"> 
            Add to Cart  
       </button>
    </div>
</div>