<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center">
                My Cart Items
            </h1>

            <table class="table table-bordered table-hover ">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Product Qty</th>
                        <th>Product Price</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                    
                        <td>1</td>
                        <td>product_name</td>

                        <td>
                            <img width="50px" height="50px" src="" alt="">
                        </td>
                        <td>product_count</td>
                        <td>product_price</td>
                        
                        <td>product_count * product_price </td>

                        <td>
                                
                            <button class="btn-danger text-light">
                                X
                            </button>
                        </td>

                    </tr>
                    <tr>
                        <th class="text-center" colspan="7">
                                    No Items In Cart.
                            </th>
                    </tr>
                </tbody>

            

                <tfoot>

                    <tr>
                        <th colspan="5" class="text-right">
                            Final Amount
                        </th>
                        <th>
                        Rs
                        </th>
                    
                    </tr>

                </tfoot>

            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 ">
    

            <button class="btn btn-success float-right mr-8">
                Place Order
            </button>
        </div>
    </div>
</div>